body {
    margin: 0;
}

.main {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    width: 900px;
    height: 600px;
    justify-content: right;
}

.side-panel {
    display: flex;
    width: 300px;
    height: 600px;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css?family=Alef');

#nameTag {
    font-family: Alef, sans-serif;
    text-align: center;
    font-size: 48px;
    color: #30336b;
    margin: 0;
    padding: 8px;
    height: 130px;
}

.panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square_btn {
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 5px #67c5ff;
    border-radius: 14px;
    font-family: Alef, sans-serif;
    text-align: center;
    font-size: 26px;
    transition: .4s;
    height: 30px;
    width: 200px;
    margin: 10px;
    user-select: none;
}

#noughts {
    color: #e056fd;
    border: solid 2px #e056fd;
}

#noughts:hover {
    background: #e056fd;
    color: white;
}

#crosses {
    color: #686de0;
    border: solid 2px #686de0;
}

#crosses:hover {
    background: #686de0;
    color: white;
}

#tie {
    color: #badc58;
    border: solid 2px #badc58;
}

#tie:hover {
    background: #badc58;
    color: white;
}

#resultText {
    font-family: Alef, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #30336b;
    margin: 0;
    padding: 10px;
    height: 50px;
}

#infoText {
    font-family: Alef, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #0c2461;
    margin: 0;
    padding: 10px;
    height: 10px;
}

.colorRed {
    color: #eb2f06;
}

.colorGreen {
    color: #6ab04c;
}

.range {
    width: 80%;
    height: 80px;
}

#betRangeText {
    font-family: Alef, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #0c2461;
    margin: 0;
    padding: 10px;
    height: 10px;
}


/* Generated by range.css */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.3px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0c2461;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0c2461;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #0c2461;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #0c2461;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #0c2461;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 17px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #0c2461;
}

input[type=range]:focus::-ms-fill-upper {
    background: #0c2461;
}